/* src/TableStyles.css */
.table-container {
    opacity: 1;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 3s ease-in-out, opacity 3s ease-in-out; /* Added opacity transition */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  